<div class="center padded">
    <div class="content padded">
        <div class="padded">
            <h1>My Apps</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Green Blog</h3>
                <p>A blog created as a final project for my class built using Django</p>
                <a class="orange" target="_blank" href="#">Link</a>
            </div>
            <div class="card third">
                <h3>CRM</h3>
                <p>An app for managing all your company's relationships</p>
                <a class="orange" href="{{url_for('static', filename='libreta-clientes.exe')}} ">Link</a>
            </div>
            <div class="card third">
                <h3>Task Management</h3>
                <p>This app allows you to create and get your tasks done</p>
                <a class="orange" href="{{url_for('static', filename='db.exe')}} ">Link</a>
            </div>
        </div>
    </div>
</div>