<div class="center">
    <div class="content" >
        <div class="row vert-pad">
            <div class="left padded">
                <h1>I help people bring their ideas to life.</h1>
                <p>Hello, I'm Cristian Guerra a full stack developer</p>
                <p>Powered by VSCode, coffee and stack overflow, I turn your requirements into a web using Flask or Django.
                I'm currently learning about Tkinter and how to propperly flip a Pancake... Because I don't want to eat scrambbled eggs anymore and also because I enjoy learning new skills </p>
                <p>By the way I built this web from scratch using Python and Flask, and the coffee don't forget the coffee.</p>
            </div>
            <div class="right padded">
                <h1>Feel free to reach out through any platforms bellow</h1>
                <p>You can send me an email <a class="orange" href="#contact">here</a></p>
            </div>
        </div>
    </div>
</div>